accelerate
bitsandbytes
chromadb
evaluate
langchain
langchain-community
langchain-core
langcodes
nltk
openai~=1.13.3
pandas~=2.2.1
pyarrow
python-dotenv~=1.0.1
sentence-transformers
sentencepiece
spacy
spacy-stanza
SPARQLWrapper
stanza
streamlit~=1.32.0
torch~=2.2.1
transformers~=4.38.2
hf-transfer

rdflib~=7.0.0
tqdm~=4.66.2